* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

image{
    width: 100%;
}

span{
    font-weight: bold;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
header{
    height: fit-content;
    padding: 10px;
    width: 100%;
}

p{
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
}

.icon{
    width: 2rem;
    padding: 3px;
    margin: 10px;
}

.icon-2{
    width: 1.5rem;
    margin: 5px;
}

.small-container{
    display: flex;
    justify-items: center;
    align-items: flex-start; 
}

.small-container2{
    display: flex;
    justify-items: center;
   align-items: center;
}


#search-bar{
    width: 50%;
    align-items: center;
}

#search{
     background-color: #f9f9f9;
     border: 1px solid grey;
     width: 95%;
}
#search-input{
    height: 3rem;
    border: 0px;
    width: 95%;
}

#microphone{
    background-color: #f9f9f9;
    border-radius: 50px;
}
.profil{
    height: 2rem;
    width: 2rem;
    padding: 3px;
    margin: 10px;
    background-color: #4b21ac;
    border-radius: 50px;
   
}

main{
   
    background-color:#f9f9f9;
    width:100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

#video-section{
    width: 60%;
    font-size: 1rem;
    margin-left: 20px;
}
iframe{
    width: 100%;
    height: 400px;
}

.action-button{
    margin-right: 15px;
    background-color: transparent;
    border: 0px;
}

.action-button > img{
    margin: 0;
}

#sort-button{
    margin-left: 30px;
}

#comment-space{
    width: 100%;
    background-color: transparent;
    border: 0px;
    height: 2rem;
    border-bottom: 1px solid black;
}

#write-comment{
    align-items:flex-start;
}

.commenter{
    justify-self: flex-start;
}

.comment-date, .user-name{
    font-size: 0.8rem;
}

.comment{
    margin-bottom: 20px;
}
.info{
    width: 90%;
}

.bottom-margin{
    margin-bottom: 20px;
}

#recommendations-section{
    width: 33%;
}

#pick{
    width: 100%;
}

.thumbnail{
    max-width: 50%;
}

#pick > button{
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid grey;
    
}

.video-rec{
    margin-bottom: 10px;
}

h3{
    margin: 0;
}